.row.margin50

  .span6.offset3

    - unless flash[:alert].nil? or flash[:alert].empty?
      .alert
        = flash[:alert]

    = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "well form-horizontal"}) do |f|
      .control-group
        = f.label :email, 'Email', :class => 'control-label'
        .controls
          = f.email_field :email
      .control-group
        = f.label :password, 'Senha', :class => 'control-label'
        .controls
          = f.password_field :password

      - if devise_mapping.rememberable?
        .control-group
          .controls
            %label{:class => "checkbox"}
              = f.check_box :remember_me
              Lembrar de mim
      .form-actions.no_margin_bottom
        = f.submit "Entrar", :class => 'btn btn-primary'
        = render "devise/shared/links"



